<%- include('../partials/top_prediction'); %>

    <div class="row"  style="margin-bottom: 477px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <% if (result == "1"){ %>
                <div class="card card-body alert alert-danger"><center>This cell is an Infected Malerial Cell.
                    Sorry! Please consult DOCTOR.</center></div>
            <%} else {%>
                <div class="card card-body alert alert-success"><center>Great! You are HEALTHY.
                    This cell is not Infected.
                </center></div>
            <% } %>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><a href="diseaseprediction" class="btn btn-block btn-primary">Back to Home</a></div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <%- include('../partials/bottom_prediction'); %>