
<%- include('../partials/top_prediction'); %>
<script>
   const result= localStorage.getItem('alert')
</script>
    <div class="row"  style="margin-bottom: 80px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <% if (result == "1"){ %>
                <div class="card card-body alert alert-danger"><center>Sorry! Please consult DOCTOR.</center></div>
            <%} else {%>
                <div class="card card-body alert alert-success"><center>Great! You are HEALTHY.</center></div>
            <% } %>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><a href="/diseasePrediction_index" class="btn btn-block btn-primary">Back to Home</a></div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
   <%- include('../partials/bottom_prediction'); %>